In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

prefix = "https://content.codecademy.com/courses/beautifulsoup/"
webpage_response = requests.get('https://content.codecademy.com/courses/beautifulsoup/shellter.html')

webpage = webpage_response.content
soup = BeautifulSoup(webpage, "html.parser")

turtle_links = soup.find_all("a")
links = []
#go through all of the a tags and get the links associated with them"
for a in turtle_links:
  links.append(prefix+a["href"])
    
#Define turtle_data:
turtle_data = {}

#follow each link:
for link in links:
  webpage = requests.get(link)
  turtle = BeautifulSoup(webpage.content, "html.parser")
  turtle_name = turtle.select(".name")[0].get_text()
  
  stats = turtle.find("ul")
  stats_text = stats.get_text("|")
  stats_split = stats_text.split("|")
  stats_good = stats_split[1: :2]
  turtle_data[turtle_name] = stats_good

In [2]:
  turtle_df = pd.DataFrame.from_dict(turtle_data, orient='index', columns=['Age', 'Weight', 'Sex', 'Breed', 'Source'])
  turtle_df.Sex = turtle_df.Sex.replace(r'\SEX:',' ', regex=True)
  turtle_df.Breed = turtle_df.Breed.replace(r'\BREED:',' ', regex=True)
  turtle_df.Source = turtle_df.Source.replace(r'\SOURCE:',' ', regex=True)
  turtle_df.Age = turtle_df.Age.str.extract('(\d+)').astype(float)
  turtle_df.Weight = turtle_df.Weight.str.extract('(\d+)').astype(float)

In [3]:
turtle_df

,Age,Weight,Sex,Breed,Source
Aesop,7.0,6.0,Female,B African Aquatic Sideneck Turtle,found in Lake Erie
Caesar,2.0,4.0,Male,B Greek Tortoise,hatched in house
Sulla,1.0,1.0,Male,B African Aquatic Sideneck Turtle,found in Lake Erie
Spyro,6.0,3.0,Female,B Greek Tortoise,hatched in house
Zelda,3.0,2.0,Female,B Eastern Box Turtle,surrendered by owner
Bandicoot,2.0,2.0,Male,B African Aquatic Sideneck Turtle,hatched in house
Hal,1.0,1.0,Female,B Eastern Box Turtle,surrendered by owner
Mock,10.0,10.0,Male,B Greek Tortoise,surrendered by owner
Sparrow,1.0,4.0,Female,B African Aquatic Sideneck Turtle,found in Lake Erie